<div class="container shadow p-3 mb-5 bg-white rounded">
  <h2>Card Details Form</h2>
  <i class="fa fa-user-circle-o fa-5x d-flex justify-content-center" aria-hidden="true"></i>
<form [formGroup]="cardDetailsForm" >
  <div class="form-group">
    <label class="sr-only" for="inlineFormInputGroupUsername">Credit Card Number</label>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <div class="input-group-text">{{labels.creditCardNumber}}</div>
      </div>
    <input  type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder={{labels.creditCardNumber}} formControlName="creditCardNumber">
    </div>
    <span class="text-danger"
    *ngIf="(cardDetailsForm?.controls['creditCardNumber']?.touched || isSubmitClicked) && cardDetailsForm?.controls['creditCardNumber']?.invalid">
    {{warningLables.validCardNumber}} 
  </span>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Card holder name</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="{{labels.cardHolder}}" formControlName="cardHolder">
    </div>
    <span class="text-danger"
    *ngIf="(cardDetailsForm?.controls['cardHolder']?.touched || isSubmitClicked) && cardDetailsForm?.controls['cardHolder']?.invalid">
   {{warningLables.validCardHolder}} 
  </span>
  </div>
 <div class="form-group">
    <label class="sr-only" for="inlineFormInputGroupUsername">Expiration date</label>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Expiration date</div>
      </div>
      <input class="form-control" type="date" id="expirationDate" name="birthday" formControlName="expirationDate"
        min="{{todaysDate | date:'yyyy-MM-dd'}}" placeholder="expirationDate">
    </div>
    <span class="text-danger"
      *ngIf="(cardDetailsForm?.controls['expirationDate']?.touched || isSubmitClicked) && cardDetailsForm?.controls['expirationDate']?.invalid">
      {{warningLables.validExpiry}} 
    </span>
  </div>
  <div class="form-group">
    <label class="sr-only" for="inlineFormInputGroupUsername">Security code</label>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Security code</div>
      </div>
      <input  maxlength="3" type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="{{labels.securityCode}}" formControlName="securityCode">
    </div>
    <span class="text-danger"
    *ngIf="(cardDetailsForm?.controls['securityCode']?.touched || isSubmitClicked) && cardDetailsForm?.controls['securityCode']?.invalid">
    {{warningLables.validSecCode}} 
  </span>
  </div>
  <div class="form-group">
    <label class="sr-only" for="inlineFormInputGroupUsername">Amount</label>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Amount</div>
      </div>
      <input  type="text" class="form-control" id="amount" placeholder="{{labels.amount}}" formControlName="amount">
    </div>
    <span class="text-danger"
    *ngIf="(cardDetailsForm?.controls['amount']?.touched || isSubmitClicked) && cardDetailsForm?.controls['amount']?.invalid">
    {{warningLables.validAmount}}
  </span>
  </div>
  <div class="form-group d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block ml-5 mr-5" (click)="onClickSubmit()">Submit</button></div>
</form>
</div>