<div class="alert alert-success" role="alert" *ngIf="hideSuccessMsg">
   {{warningLables.successMessage}}
   <i class="fa fa-times" style="float: right;" aria-hidden="true" (click)="onClickClose()"></i>
</div>
<div class="alert alert-danger" role="alert" *ngIf="failMsg">
   {{warningLables.failedMessage}}
   <i class="fa fa-times" style="float: right;" aria-hidden="true" (click)="onClickFailClose()"></i>
 </div>
<div class="container shadow p-3 mb-5 bg-white rounded">
   <h2>{{labels.cardDetailsForm}}</h2>
   <form [formGroup]="cardDetailsForm">
      <div class="form-group">
         <div class="input-group mt-3">
            <div class="input-group-prepend">
               <div class="input-group-text">{{labels.creditCardNumber}}</div>
            </div>
            <input type="text" class="form-control" id="credit-card-number"
               placeholder={{labels.creditCardNumber}} formControlName="creditCardNumber">
         </div>
         <span class="text-danger"
            *ngIf="(cardDetailsForm?.controls['creditCardNumber']?.touched || isSubmitClicked) && cardDetailsForm?.controls['creditCardNumber']?.invalid">
            {{warningLables.validCardNumber}}
         </span>
      </div>
      <div class="form-group">
         <div class="input-group">
            <div class="input-group-prepend">
               <div class="input-group-text">{{labels.cardHolder}}</div>
            </div>
            <input type="text" class="form-control" id="card-holder-name"
               placeholder="{{labels.cardHolder}}" formControlName="cardHolder">
         </div>
         <span class="text-danger"
            *ngIf="(cardDetailsForm?.controls['cardHolder']?.touched || isSubmitClicked) && cardDetailsForm?.controls['cardHolder']?.invalid">
            {{warningLables.validCardHolder}}
         </span>
      </div>
      <div class="form-group">
         <label class="sr-only" for="inlineFormInputGroupUsername">{{labels.expirationDate}}</label>
         <div class="input-group mt-3">
            <div class="input-group-prepend">
               <div class="input-group-text">{{labels.expirationDate}}</div>
            </div>
            <input class="form-control" type="date" id="expirationDate" name="birthday" formControlName="expirationDate"
               min="{{todaysDate | date:'yyyy-MM-dd'}}" placeholder="expirationDate">
         </div>
         <span class="text-danger"
            *ngIf="(cardDetailsForm?.controls['expirationDate']?.touched || isSubmitClicked) && cardDetailsForm?.controls['expirationDate']?.invalid">
            {{warningLables.validExpiry}}
         </span>
      </div>
      <div class="form-group">
         <label class="sr-only" for="inlineFormInputGroupUsername">{{labels.securityCode}}</label>
         <div class="input-group mt-3">
            <div class="input-group-prepend">
               <div class="input-group-text">{{labels.securityCode}}</div>
            </div>
            <input maxlength="3" type="text" class="form-control" id="inlineFormInputGroupUsername"
               placeholder="{{labels.securityCode}}" formControlName="securityCode">
         </div>
         <span class="text-danger"
            *ngIf="(cardDetailsForm?.controls['securityCode']?.touched || isSubmitClicked) && cardDetailsForm?.controls['securityCode']?.invalid">
            {{warningLables.validSecCode}}
         </span>
      </div>
      <div class="form-group">
         <label class="sr-only" for="inlineFormInputGroupUsername">{{labels.amount}}</label>
         <div class="input-group mt-3">
            <div class="input-group-prepend">
               <div class="input-group-text">{{labels.amount}}</div>
            </div>
            <input type="text" class="form-control" id="amount" placeholder="{{labels.amount}}"
               formControlName="amount">
         </div>
         <span class="text-danger"
            *ngIf="(cardDetailsForm?.controls['amount']?.touched || isSubmitClicked) && cardDetailsForm?.controls['amount']?.invalid">
            {{warningLables.validAmount}}
         </span>
      </div>
      <div class="form-group d-flex justify-content-center">
         <button type="submit" class="btn btn-primary btn-block ml-5 mr-5" (click)="onClickSubmit()">{{labels.submit}}</button>
      </div>
   </form>
</div>